.title {
    display: flex;
    justify-content: center;
}

.selection {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-title{
    align-self: center;
}

.card-body {
    width: 280px;
    height: 400px;
    padding: 0 0 20px 20px;
    vertical-align: top;
}

.highlight {
    border: #555 1px solid;
    text-align: left;
    height: 350px;
    overflow-y: auto;
    font-size: 10px;
}

.highlight table{
    width: 100%;
}

pre { padding: 0 5px; font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; }