pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #473d18 }
.c { color: #797979 } /* Comment */
.err { color: #a2bffc } /* Error */
.k { color: #9e86c8 } /* Keyword */
.l { color: #a2bffc } /* Literal */
.n { color: #a2bffc } /* Name */
.o { color: #F78C6C } /* Operator */
.p { color: #a2bffc } /* Punctuation */
.ch { color: #797979 } /* Comment.Hashbang */
.cm { color: #797979 } /* Comment.Multiline */
.cp { color: #797979 } /* Comment.Preproc */
.cpf { color: #797979 } /* Comment.PreprocFile */
.c1 { color: #797979 } /* Comment.Single */
.cs { color: #797979 } /* Comment.Special */
.gd { color: #a2bffc } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gh { color: #a2bffc } /* Generic.Heading */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #a2bffc } /* Generic.Subheading */
.kc { color: #9e86c8 } /* Keyword.Constant */
.kd { color: #9e86c8 } /* Keyword.Declaration */
.kn { color: #9e86c8 } /* Keyword.Namespace */
.kp { color: #9e86c8 } /* Keyword.Pseudo */
.kr { color: #9e86c8 } /* Keyword.Reserved */
.kt { color: #c5e478 } /* Keyword.Type */
.ld { color: #a2bffc } /* Literal.Date */
.m { color: #9e86c8 } /* Literal.Number */
.s { color: #9e8741 } /* Literal.String */
.na { color: #9e86c8 } /* Name.Attribute */
.nb { color: #c5e478 } /* Name.Builtin */
.nc { color: #F78C6C } /* Name.Class */
.no { color: #a2bffc } /* Name.Constant */
.nd { color: #9e8741 } /* Name.Decorator */
.ni { color: #9e8741 } /* Name.Entity */
.ne { color: #a2bffc } /* Name.Exception */
.nf { color: #9e86c8 } /* Name.Function */
.nl { color: #F78C6C } /* Name.Label */
.nn { color: #c5e478 } /* Name.Namespace */
.nx { color: #a2bffc } /* Name.Other */
.py { color: #a2bffc } /* Name.Property */
.nt { color: #5ca7e4 } /* Name.Tag */
.nv { color: #c5e478 } /* Name.Variable */
.ow { color: #9e86c8 } /* Operator.Word */
.w { color: #a2bffc } /* Text.Whitespace */
.mb { color: #9e86c8 } /* Literal.Number.Bin */
.mf { color: #9e86c8 } /* Literal.Number.Float */
.mh { color: #9e86c8 } /* Literal.Number.Hex */
.mi { color: #9e86c8 } /* Literal.Number.Integer */
.mo { color: #9e86c8 } /* Literal.Number.Oct */
.sa { color: #9e8741 } /* Literal.String.Affix */
.sb { color: #9e8741 } /* Literal.String.Backtick */
.sc { color: #9e8741 } /* Literal.String.Char */
.dl { color: #9e8741 } /* Literal.String.Delimiter */
.sd { color: #9e8741 } /* Literal.String.Doc */
.s2 { color: #9e8741 } /* Literal.String.Double */
.se { color: #F78C6C } /* Literal.String.Escape */
.sh { color: #9e8741 } /* Literal.String.Heredoc */
.si { color: #9e8741 } /* Literal.String.Interpol */
.sx { color: #9e8741 } /* Literal.String.Other */
.sr { color: #5ca7e4 } /* Literal.String.Regex */
.s1 { color: #9e8741 } /* Literal.String.Single */
.ss { color: #F78C6C } /* Literal.String.Symbol */
.bp { color: #c5e478 } /* Name.Builtin.Pseudo */
.fm { color: #9e86c8 } /* Name.Function.Magic */
.vc { color: #c5e478 } /* Name.Variable.Class */
.vg { color: #c5e478 } /* Name.Variable.Global */
.vi { color: #c5e478 } /* Name.Variable.Instance */
.vm { color: #F78C6C } /* Name.Variable.Magic */
.il { color: #9e86c8 } /* Literal.Number.Integer.Long */
 .highlight { background: #010726; color: #a2bffc; }