.top-title {
  font-size: 1.5rem;
  font-family: "Leckerli One", cursive;
}

header {
  position: relative;
  z-index: 999;
}

.bg-blue {
  background-color: rgba(135, 212, 230, 0.7);
  border-color: #87d4e6;
  padding: 0;
}

.bg-bottom-dark {
  background-color: #454545;
  border-color: #454545;
}

.bottom-firm {
  font-size: 3rem;
  color: #e2eb98;
  font-family: "Leckerli One", cursive;
}

.sky-blue-header {
  background-color: #87d4e6;
  height: 70px;
  min-width: 100%;
  clear: both;
  margin: 0;
  padding: 0;
}

.balloons-main {
  min-width: 100%;
  width: 100%;
  clear: both;
  margin: 0;
  padding: 0;
  position: relative;
}

.center-text {
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #f1faee;
  font-family: "Delius Swash Caps", cursive;
}

.h1 #welcome-text {
  font-size: 5em;
}

.center-bottom-medium {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: #f1faee;
  font-family: "Delius Swash Caps", cursive;
}

.center-bottom {
  position: absolute;
  top: 58%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: #f1faee;
  font-family: "Delius Swash Caps", cursive;
}

.about-me {
  position: relative;
  margin-top: 5%;
}

.available {
  position: relative;
}

.hire-me {
  position: relative;
  margin-top: 3%;
  margin-bottom: 3%;
}

.paragraph-block {
  margin-top: 3%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.paragraph-block-text {
  margin-top: 3%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #818181;
}

.title-block {
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: "Montserrat", cursive;
  font-size: 2rem;
  color: #0fa3b1;
}

.sep {
  margin-top: 3%;
  margin-bottom: 3%;
}

.my-button {
  color: #ffffff;
  background-color: #a385bd;
  border-color: #a385bd;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

.highlight {
  color: #0fa3b1;
  font-size: 1.5rem;
}

.highlight-link {
  color: #0fa3b1;
  font-size: 1.2rem;
}

.caption-text-skills {
  font-size: 1.3rem;
}

.even {
  flex-wrap: wrap;
}

.machinel-block {
  background-color: #7a306c;
  color: white;
  padding: 4em 0;
}

.machinel-block p {
  letter-spacing: 1px;
}

.machinel-block .p-2 {
  margin: 0.7em 0;
}

.titleML {
  font-size: 1.6rem;
  font-family: "Delius Swash Caps", cursive;
}

.mandible-block {
  background-color: #7fc6a4;
  color: white;
  padding: 4em 0;
}

.mandible-block p {
  letter-spacing: 1px;
}

.mandible-block .p-2 {
  margin: 0.7em 0;
}

.math-exp-block {
  background-color: #f25f5c;
  color: white;
  padding: 4em 0;
}

.math-exp-block p {
  letter-spacing: 1px;
}

.math-exp-block .p-2 {
  margin: 0.7em 0;
}

video {
  width: 100%;
}
